@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    background: rgb(3,88,105);
    background: linear-gradient(90deg, rgb(19, 116, 136) 0%, rgb(26, 112, 11) 100%); 
}
.mainContent{
    height: 80vh;
    width: 30vw;
    background-color: rgb(53, 21, 21);
    margin: auto;
    margin-top: 5%;
    font-family: 'Fira Sans', sans-serif;
}


.value{
    height: 15%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5%;
    font-size: 40px;
}
.buttons{
    /* display: flex; */
    height: 85%;
    background-color: #ffffff;
}
.upperRow{
    height: 80%;
    display: flex;
    margin: 0%;
}
.nums{
    width: 74%;
    height: 81%;
    /* padding-top: 5%; */
    /* background-color: red; */
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30.5%;
    /* border: 1px solid black; */
}
.keys{
    width: 33%;
    height: 95%;
    background-color: rgb(238, 198, 198);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
}
.operations{
    height: 80%;
    width: 26%;
    /* background-color: yellow; */
    margin-right: auto;
    
}
   
.operations .operator{
    margin-top: 2.5%;
    margin-bottom: 4%;
    margin-left: 2%;
    height: 29.3%;
    width: 95%;
    background-color: rgb(238, 198, 198);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
}
button{
    border: 0px;
}
.lowerRow{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    height: 20%;
}
.lowerRow .workingKey{
    width: 49%;
    height: 95%;
    background-color: rgb(238, 198, 198);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
}